@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration-line: none;
	/*color: #ccc;*/
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clean{
	clear: both;
}
body{
	background-color: #eee;
}



